/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--------------------*/
/* ********* */

:root {
  --lblack: rgba(12, 12, 14, 1);
  --black: rgba(0, 0, 0, 1);
  --beige: rgba(187, 148, 95, 1);
  --gray: rgba(142, 142, 142, 1);
  --white: rgba(255, 255, 255, 1);
}

html {
  scroll-behavior: smooth;
  font-family: Inter;
  font-size: 15px;
  text-align: center;
}

html, *, *::before, *::after {
  box-sizing: border-box; 
}



.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  align-items:center;
  @media screen and (max-width: 1024px) {
    width: auto;
  }
}

/* Header */

.header {
  color: var(--white);
  background: var(--lblack);
  display: flex;
  width: 100%;
  height: 90px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Forum;
  font-size: 30px;
  line-height: 50%;
  text-align: left;
  letter-spacing: 0.6px;
  flex-wrap: wrap;
}  


.header__text {
  display: flex;
  align-items: flex-end;
  align-items:center;
  justify-content:end;
  @media screen and (max-width: 1024px) {
    position: absolute;
    right: 0px;
  }
}

.menu {
  @media screen and (max-width: 1024px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    right: 0px;
    top:0px;
    height: 570px;
    width: 0px;
    background-color: var(--lblack);
    padding:0;
    transition: all 0.1s ease-in;
    overflow-x: hidden;
  }
}

.menu_active {
  width: 332px;
  transition: all 0.2s ease-in;
}

.menu ul {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  gap: 30px;
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 90px;
    padding-right:20px;
    gap: 55px;
    width: 100%;
  }
}

.menu ul li{
  color: var(--white);
  cursor: pointer;
  @media screen and (max-width: 1024px) {
    
    color: var(--white);
    cursor: pointer;
  }
}

.menu ul li:last-child{
  padding-right: 40px;
  @media screen and (max-width: 1024px) {
    padding-right: 0px;
  }
}

.menu ul li a{
  color: var(--white);
  transition: all ease 0.2s;
  font-family: Inter;
  font-size: 20px;
}

.menu ul li:hover a{
  color: var(--beige);
  transition: all 0.5s ease;
}

.header__icon {
  margin-right: 0px;
  @media screen and (max-width: 1024px) {
    margin-right: 40px;
    z-index: 99;
  }
}

.burger {
  display: none;
  @media screen and (max-width: 1024px) {
    display: flex;
    margin: auto 0 auto 0;
    width: 45px;
    height: 45px;
    z-index: 99;
    margin-right: 20px;
    cursor: pointer;
  }
}

.burger__container {
  display: flex;
  margin: auto;
}

.burger__container span {
  display: block;
  background: var(--white);
  height: 2px;
  width: 45px;
  position: relative;
  transition: all ease 0.2s;
}

.burger__container span::before {
  content: '';
  display: block;
  background: var(--white);
  height: 2px;
  width: 45px;
  top:-10px;
  position: absolute;
  transition: all ease 0.2s;
}

.burger__container span::after {
  content: '';
  display: block;
  background: var(--white);
  height: 2px;
  width: 45px;
  top:10px;
  position: absolute;
  transition: all ease 0.2s;
}

.burger__container_active span {
  background-color: var(--black);
}

.burger__container_active span::before  {
  transform: rotate(-45deg) translate(0px, -50%);
  top:50%;
}

.burger__container_active span::after  {
  transform: rotate(45deg) translate(0px, -50%);
  top:50%;
}


/* Header */


/* Main */
.main {
 width: 100%;
}

.welcome {
  display: flex;
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/welcome.jpg");
  padding-bottom: 160px;
  padding-left: 0px;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  @media screen and (max-width: 1024px) {
    width: auto;
    background-image: url("../images/WelcomeTablet.jpg");
  }
}

.welcome__title {
  height: 220px;
  width: 600px;
  background-color: var(--lblack);
}

.welcome h2 {
  font-family: Forum;
  font-size: 40px;
  letter-spacing: 3px;
  color: var(--white);
  text-transform: uppercase;
  padding-top: 35px;
  line-height: 50px;
}

.welcome h2 span {
  padding-right: 15px;
}

.about {
  /* height: 837px; */
  width: 100%;
  padding: 20px;
}

.section-title {
  font-family: Forum;
  font-size: 40px;
  letter-spacing: 2px;
  color:var(--lblack);
  height: 60px;
  text-transform: capitalize;
}

.section-title::after {
  content: "";
  display: block;
  width: 50px;
  padding-top: 17px;
  margin: 0 auto 30px auto;
  border-bottom: 1px solid var(--lblack);
}

.section-text {
  font-style: Inter;
  font-size: 20px;
  color: var(--black);
  margin: 50px 0 25px 0;
  @media screen and (max-width: 1024px) {
    line-height: 40px;
    margin: 40px 0 20px 0;
  }
}


.about__images {
  height: 560px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .about__images {
    max-width: 900px;
  }

  .carousel__image {
    position: relative;
  }
  
  .carousel__image::before {
    content: '';
    height: 24px;
    width:24px;
    background-image: url("../images/Carret_Left.svg");
    position: absolute;
    left:-80px;
    top:51.5%;
    cursor: pointer;
  }

  .carousel__image::after {
    content: '';
    height: 24px;
    width:24px;
    background-image: url("../images/Carret_Right.svg");
    position: absolute;
    right: -80px;
    top:51.5%;
    cursor: pointer;
  }
}


.carousel-pagination {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1024px) {
    height: 60px;
    margin-bottom: 20px;
    }

}

.pagination__button {
  width:26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tablet {
  display: none;
  @media screen and (max-width: 1024px) {
    display: block;
  }
}

.desktop {
  display: block;
  @media screen and (max-width: 1024px) {
    display: none
  }
}

.pagination__button:hover .dot{
  background-color: var(--beige);
  transition: all 0.2s ease;
}

.pagination__button .dot{
  width:16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--lblack);
  transition: all ease 0.4s;
}


.pagination__button:first-child .dot{
  background-color: var(--beige);
}

.favorites {
  padding: 00px 20px 35px 20px;
}

.seasons {
  font-size: 20px;
  text-align: left;
}


.seasons form p{
  margin-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
}

.radiobtns {
  display: flex;
  height: 30px;
  gap: 90px;
  @media screen and (max-width: 760px) {
    gap: 5%;
  }
}


.custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radiobtns label{
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.radiobtns label::before {
  content: "";
  background-image: url("../images/input.svg");
  background-repeat: no-repeat;
  background-size: 17px 17px;
  width: 22px;
  height: 22px;
  margin:  5px 15px 0px 0px;
}

.custom:checked+label {
  font-weight: bold;
}

.custom:checked+label::before {
  background-image: url("../images/input-checked.svg");
}

.favorites__items {
 width: 100%;
 display: flex;
 justify-content:space-between;
 flex-wrap: wrap;
 @media screen and (max-width: 1280px) {
  flex-direction: column;
  align-items: center;
  }
}

.book {
 height: 595px;
 width: 590px;
 position: relative;
 padding: 35px 40px 0 0;
}

.book__border {
  width: 550px;
  border: solid 1px var(--black);
  height: 555px;
}

.book__wrapper {
  width: 400px;
  height: 555px;
  padding: 15px 20px;
  text-align: left;
  line-height: 40px;
}

.book__cover {
  position: absolute;
  width: 200px;
  height:300px;
  right: 0;
  bottom: 5px;

}

.staff {
  font-family: Forum;
  font-size: 20px;
  line-height: 40px;
  height: 60px;
  letter-spacing: 2px;
}

.staff::after {
  content: "";
  display: block;
  width: 60px;
  padding-top: 0px;
  border-bottom: 1px solid var(--beige);
}

.book__title{
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
}

.book__author {
  font-weight: bold;
  letter-spacing: 2px;
}

.book__description {
  padding-top: 20px;
  letter-spacing: 2px;
  text-transform: capitalize;
  width:358px;
}

.book__button {
  width:75px;
  height:30px;
  border: solid 1px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: var(--white);
  cursor: pointer;
  position: absolute;
  left: 20px;
  bottom: 20px;
  transition: all 0.2s ease;
  text-align: center;
}

.book__button:hover {
    background-color: var(--beige);
    border: none;
    transition: all 0.5s ease;
}

.button__dis {
  color: var(--beige);
  cursor:default;
  pointer-events: none;
}

.disabled {
  display: none;
}

.coffeeShop {
 padding: 20px 20px 40px 20px;
 /* height:841px; */
 width:100%;
}

.coffeeShop .section-title {
  height: 50px;
}

.coffeeShop .section-text {
  line-height: 40px;
  letter-spacing: 2px;
  font-family: Inter;
  font-size: 20px;
  margin-right: 10px;
  @media screen and (max-width: 1024px) {
    margin-top: 50px;
    margin-bottom: 25px;
  }
}
.coffeeShop .section-text p {
  margin-left: 10px;
}

.shop__menu {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    gap: 40px;
  }
}

.menu-left{
  height: 520px;
  width:440px
}

.menu-right{
  height: 520px;
  width:540px;

  @media screen and (max-width: 1024px) {
    width:fit-content;
    align-self: flex-end;
  }
}

.menu-right .menu__title{
  text-align: right;
}

.menu__title {
  font-family: Forum;
  font-size: 40px;
  letter-spacing: 2px;
  color: var(--beige);
  text-align: left;
  line-height: 75px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 80px;
  position: relative;
  font-size: 20px;
  letter-spacing: 2px;
}

.menu-right .row {
  justify-content: flex-end;
}

.name {
  padding-right: 210px;
}

.price {
  font-family: Forum;
  font-size: 20px;

}

.price::before {
  position: absolute;
  content: "";
  display: flex;
  align-self: center;
  justify-self: center;
  width: 100px;
  height: 1px;
  right: 85px;
  top:40px;
  background-color: var(--beige);
}

.menu-right .price::before {
  right: 90px;

}

.menu-right .name {
  margin-right: 10px;

}


.contacts {
  padding: 35px 20px 40px 20px;
  
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1280px) {
    flex-direction: column;
    gap: 40px;
  }
}

.text-block {
  width: 520px;
  height: 414px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 70px;
  text-align: left;
  letter-spacing: 2px;
  text-transform: capitalize;
  @media screen and (max-width: 1024px) {
    margin-top: 30px;
  }
}

.text-block div {
padding-top: 15px;
line-height: 60px;
}

.apua {
  margin-top: 5px;
}


.map {
  /* width: 696px; */
  height: 414px;
  margin-top: 40px;
  @media screen and (max-width: 1024px) {
    margin: 40px auto 0px auto;
  }
}

.map img {
  width:100%;
  max-height: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: var(--lblack);
}
a:hover {
  text-decoration: none;
}

.libraryCard {
  padding: 20px 20px 40px 20px;
}

.section__content {
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card__wrapper{
  width: 600px;
  margin-top: 40px;
  @media screen and (max-width: 1024px) {
    width: auto;
  }
}

.card__find {
  font-size: 30px;
  margin: 0px auto 30px auto;
  letter-spacing: 0.5px;
}

.card__box {
height: 385px;
width: 600px;
padding: 18px;
border: 1px solid var(--beige);
font-size: 30px;
font-family: Forum;
line-height: 75px;
}

.card {
  width:560px;
  text-align: left;
  padding: 10px 10px 20px 20px;
  background: var(--beige);
  letter-spacing: 0.8px;
  font-family: Forum;
  height: 275px;

}

.card__name {
  font-family: Forum;
  letter-spacing: 0.8px;
}

.text-field {
  margin-bottom: 15px;

}

.input {
  font-family: Forum;
  font-size: 30px;
  background-color: var(--white);
  padding-left: 20px;
  border-radius: 7px;
  color: var(--gray);
  width: 520px;
  height: 65px;
  line-height: 60px;
}

.card__button {
  font-family: Inter;
  font-size: 20px;
  width: 240px;
  letter-spacing: 1.2px;
  font-weight: 700;
  line-height: 25px;
  padding: 10px 20px;
  text-align: center;
  background-color: var(--white);
  border: 1px solid var(--lblack);
  transition: all 0.2s ease;
  border-radius: 3px;
  margin-top: 10px;
}

.card__button:hover {
  background-color: var(--beige);
  border: none;
  transition: all 0.5s ease;
}


.card__description {
  margin-top: 40px;
  width: 500px;
  height: 253px;
  text-align: right;
  letter-spacing: 0.7px;
  @media screen and (max-width: 1024px) {
    margin-top: 20px;
    height: auto;
    width: auto;
    padding: 0 50px
  }
}

.libraryCard .section__content {
  display: flex;
  justify-content: space-between;
}

.description__tile {
  font-family: Forum;
  font-size: 30px;
  text-align: right;
  @media screen and (max-width: 1024px) {
    text-align: center;;
   }
}

.description__text {
  font-size: 20px;
  letter-spacing: 2%;
  line-height: 40px;
  text-align: right;
  margin-top: 35px;
  letter-spacing: 1px;
  font-family: Inter;
  letter-spacing: 0.7px;
  @media screen and (max-width: 1024px) {
   text-align: center;
   margin-top: 40px;
  }
}

.description__buttons {
  margin-top: 35px;
  @media screen and (max-width: 1024px) {
    text-align: center;
    margin-top: 40px;
   }
}

.sign-button{
  width:75px;
  height:30px;
  margin: 0 0px 0 15px;
  background: var(--white);
  font-size: 10px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid;
  transition: all 0.2s ease;
  @media screen and (max-width: 1024px) {
    text-align: center;
    margin: 0 10px;
   }
}

.sign-button:hover{
  background-color:var(--beige);
  border:none;
  transition: all 0.5s ease;
}

/* Main  */


/* Footer */
.footer{
  height: 250px;
  background: var(--black);
  padding: 20px;
  width: 100%;
  color: var(--white);
}

.library__links {
  display: flex;
  justify-content: space-between;
}

.adress {
  text-align: left;
  margin-top: 5px;
}

.social-links{
 display: flex;

}

.link {
  width: 24px;
  height: 24px;
  margin: 18px 15px 38px 0;
}

.school__links {
  border-top: 1px solid var(--white);
}

.timetable {
  text-align: right;
  margin-top: 0px;
  line-height: 24px;
}

.school__links {
  display:flex;
  justify-content: space-between;
  padding: 44px 0;
  font-size: 20px;
  
}

.school__links a {
  color: var(--white);
  font-size: 20px;
  letter-spacing: 2px;
}

/* Footer */

/* Adaptive */



/* Adaptive */