/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--------------------*/

:root {
  --fblue: #002F6C;
  --rred: rgb(213, 43, 30);
  --rblue:#00459E;
  --white: rgba(255, 255, 255, 1);
}

body {
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: url(assets/img/lonelyShepherd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.wrapper::after {
    content: '';
    position: fixed; 
    left: 0; right: 0;
    top: 0; bottom: 0; 
    z-index: 1; 
    background-color: var(--white);
    opacity: 0.5;
    filter: blur(0.2rem);
}

.player {

  width: 20rem;
  display: flex;
  flex-direction: column;
  /* border: solid var(--rblue); */
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 0.1rem 0.5rem 1rem gray;
  opacity: 1;
  z-index: 10;

}

.cover {
  height: 15rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
}

.cover img {
  object-fit: cover;
  width: 100%;
  height:fit-content;
}

.controls {
  /* flex: 2; */
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content:space-between;
  background-color: var(--white);
  height: 7rem;
}

.track__name {
  font-size: large;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}


button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1rem;
  border: none;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--white);
  transition: all 0.3s;
}

button:hover {
  border: solid;
}

button:active {
  background-color: yellowgreen;
}

.backward {
  background-image: url(assets/svg/backward.png);
}

.play {
  background-image: url(assets/svg/play.png);
  width: 4rem;
  height: 4rem;
}

.track__name {
  color:  yellowgreen;
  font-size: large;
}

.pause {
  background-image: url(assets/svg/pause.png);
}

.forward {
  background-image: url(assets/svg/forward.png);
}

.length {
  text-align: right;
  padding-right: 1rem;
  color:  yellowgreen;
}

.progress {
  height: 5rem;
}

.progressbar {
  height: 1rem;
  width:90%;
  background-color: lightgray;
  margin: 0.5rem auto 1rem auto;
  border-radius: 1rem;
  position: relative;

}

.progressline {
  background-color: grey;
  /* width: 10%; */
  height: 100%;
  border-radius: 1rem;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  
}

.progressdot {
  position: absolute;
  height: 1.4rem;
  width: 0.8rem;
  background-color:  yellowgreen;
  border-radius: 1rem;
  transform: translate(-0.5rem, -0.2rem);
  transition: 0.3s;
  cursor: pointer;

}

.timer {
  position: absolute;
  width: 100%;
  padding: 0 0.5rem;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
